
<div class="container text-center">
    <footer class="font-small">
        <p>
            2018 - 
            <a href="https://github.com/br1code">Br1code</a> - 
            <a href="http://www.terciariourquiza.edu.ar/">Urquiza</a>
        </p>
    </footer>
</div>

</body>
</html>