
<div class="container fluid">
    <footer>
        <p class="float-right">
            <a href="#home">Volver al principio</a>
        </p>
        <p>
            © 2018 
            <a href="https://github.com/br1code">Br1code</a> - 
            <a href="http://www.terciariourquiza.edu.ar/">Urquiza</a>
        </p>
    </footer>
</div>

</body>
</html>