<div class="footer">
    <div class="container">
        <p class="float-right"><a href="<%= backUrl %>">Volver</a></p>
        <p>
            <a href="/contacto"/ class="text-black">Contacto</a> - 
            <a href="/licencias">Licencias</a>
        </p>
    </div>
</div>
    
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/nav.js"></script>
</body>
</html>