<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">

    <a class="navbar-brand" href="/">PixelAula</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" data-name="inicial-primario">
                <a class="nav-link" href="/inicial-primario">Inicial y Primario</a>
            </li>
            <li class="nav-item" data-name="secundario-tecnico">
                <a class="nav-link" href="/secundario-tecnico">Secundario y Técnico</a>
            </li>
            <li class="nav-item" data-name="foro">
                <a class="nav-link" href="/foro">Superior y Universitario</a>
            </li>
            <li class="nav-item" data-name="practicas-profesionalizantes">
                <a class="nav-link" href="/practicas-profesionalizantes">Prácticas Profesionalizantes</a>
            </li>
        </ul>

    </div>
</nav>