<% include ../../partials/header %>

<div class="container text-center">
    <h1 class="display-1">Secundario y técnico</h1>
    <p>En esta sección irá todo el contenido del nivel secundario y técnico</p>
</div>

<div class="footer">
    <div class="container">
        <p class="float-right"><a href="/">Volver a la página principal</a></p>
        <p>2018 Br1code - Escuela Urquiza &middot; <a href="licencias">Licencias</a></p>
    </div>
</div>

<% include ../../partials/footer %>