<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
    <h1 class="display-3 text-center mt-3">Secundario y Técnico</h1>
    <p class="text-center">Juegos y actividades</p>

    <div class="row">
        <div class="col-lg-6">
            <div class="card text-center">
                <img src="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Choque Los 5!!!</h5>
                    <p class="card-text">
                        Un juego de cuentas matemáticas con autos!Sumando, sumando para llegar a la ciudad. 
                        Para llegar a destino hay q hacer la cuenta tomando el número correcto. “¿2+3?” “¡¡¡5!!!¡¡¡¡Choque los 5!”
                    </p>
                    <a href="#" class="btn btn-danger">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
                <div class="card text-center">
                    <img src="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">SeñaMemo</h5>
                        <p class="card-text">
                            Este juego es el típico "MemoTest" o "Juego de la memoria.
                            La idea principal fue aprender algunos gestos básicos del lenguaje de señas. Aprenderemos las letras, números, días de semanas y meses.
                        </p>
                        <a href="#" class="btn btn-danger">Jugar</a>
                    </div>
                </div>
        </div>
    </div>

</div>

<% include ../../partials/footer %>