<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-4 mt-5">Secundario y técnico</h1>
    <p>En esta sección irá todo el contenido del nivel secundario y técnico</p>
</div>

<% include ../../partials/footer %>