<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-5 my-3">Index de Pruebas</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="jumbotron py-3 mb-3 shadow">
                <div class="container">
                    <h3 class="display-5">Crear una prueba</h3>
                    <p class="lead">Buscamos alumnos que quieran realizar actividades como práctica profesionalizante.</p>
                    <a class="btn btn-secondary btn-sm shadow" href="/pruebas/crear">Crear</a>
                </div>
            </div>
        </div> 
        <div class="col-lg-6">
            <div class="jumbotron py-3 shadow">
                <div class="container">
                    <h3 class="display-5">Realizar una prueba</h3>
                    <p class="lead">Buscamos alguna entidad que necesite alumnos para realizar una práctica profesionalizante.</p>
                    <a class="btn btn-secondary btn-sm shadow" href="/pruebas/realizar">Ingresar</a>
                </div>
            </div>
        </div> 
    </div>
</div>

<% include ../../partials/footer %>