<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container my-3 py-3 mx-auto bg-light">
    <div id="search">
        <form id="searchTest" class="mx-auto px-1" style="max-width: 300px;">
            <h1 class="display-4 text-center my-3">Realizar una prueba</h1>

            <div class="form-group">
                <input id="testID" type="text" class="form-control" placeholder="Clave">
                <small class="form-text text-muted">Ingresa la clave de la prueba que te dió tu profesor</small>
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-sm my-3">Ingresar</button>
        </form>
    </div>
</div>

<% include ../../partials/footer %>
<script src="/js/tests.js"></script>