<% include ../../partials/header %>

<div class="container my-5 mx-auto" style="max-width: 450px;min-height: 800px">
    <form id="myForm" style="max-width: 330px;margin: 0 auto;" action="/foro/nuevo" method="POST">
        <h1 class="display-4 text-center my-5">Proponer un nuevo tema</h1>

        <div class="form-group my-5">
            <input type="text" class="form-control" placeholder="Nombre" name="name" required autofocus spellcheck="false" autocomplete="off">
            <small class="form-text text-muted">¿Cuál es el nombre del nuevo tema?</small>
        </div>
        

        <div class="form-group my-5">
            <textarea id="descripcion" class="form-control" name="description" rows="3" placeholder="Descripción" required autofocus spellcheck="false" autocomplete="off"></textarea>
            <small class="form-text text-muted">¿De qué se hablará en este nuevo tema?</small>
        </div>

        <div class="form-group mt-5">
            <select class="form-control" id="tags">
                <option value="" selected disabled hidden>Etiquetas</option>
                <option>Matemática</option>
                <option>Lengua</option>
                <option>Historia</option>
                <option>Geografía</option>
                <option>Idiomas</option>
                <option>Otros</option>
            </select>
            <small class="form-text text-muted">¿Quieres agregarle etiquetas?</small>
        </div>
    
        <div id="tagList" class="my-3 text-center"></div>

        <button type="submit" class="btn btn-danger btn-block btn-sm mt-5">Enviar</button>

        <div class="text-center">
            <a href="/foro"><button type="button" class="btn btn-link">Volver</button></a>
        </div>
        

    </form>
</div>
<% include ../../partials/scripts %>
<script src="/js/newTopic.js"></script>
<% include ../../partials/footer %>