<% include ../../partials/header %>

<div class="container text-center">
    <h1 class="display-3 my-5">Gracias por proponer un nuevo tema</h1>
    <img src="./img/administrators.png" class="my-5">
    <p class="lead my-5">Nuestros administradores revisarán el contenido y será aprobado en las siguientes 24 horas</p>
    <a href="/foro" ><button type="button" class="btn btn-link">Volver</button></a>
</div>
