<% include ../../partials/header %>

<div class="container text-center success">
    <h1 class="display-4 mt-3">Gracias por proponer un nuevo tema</h1>
    <img class="success-image" src="./img/administrators.png">
    <p class="lead mt-3">Nuestros administradores revisarán el contenido y será aprobado en las siguientes 24 horas</p>
    <a href="/foro" ><button type="button" class="btn btn-dark btn-sm">Volver</button></a>
</div>

<% include ../../partials/footer %>