<% include ./partials/header %>
<% include ./partials/nav %>

<main role="main">

    <section class="jumbotron text-center mb-0">
        <div class="container">
            <h3 class="jumbotron-heading">Primeros Contribuyentes de PixelAula</h3>
            <p class="lead">
                Hola! Somos alumnos de la <strong>Escuela Urquiza</strong> y fuimos los primeros contribuyentes de este proyecto! 
                ¿Qué esperas para sumarte?
            </p>
            <p><a href="/contacto" class="btn btn-primary">Quiero contribuir!</a></p>
        </div>
    </section>

    <div class="album">
        <div class="container">

            <div class="row">

                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="./img/history-board/alumnos-urquiza.jpeg">
                    <div class="card-body text-center">
                        <p class="card-text"><strong>Alumnos de la Escuela Urquiza</strong></p>
                        <p class="card-text lead">Primeros Contribuyentes 2018</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/barcelorodrigo.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Rodrigo Barceló</strong></p>
                            <p class="card-text lead">Profesor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/giovagnolibruno.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Bruno Giovagnoli</strong></p>
                            <p class="card-text lead">Desarrollo Web</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/hokamasofia.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Sofia Hokama</strong></p>
                            <p class="card-text lead">Choque Los Cinco</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/oliveraalexis.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Alexis Olivera</strong></p>
                            <p class="card-text lead">Onion Sucesiones</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/grassofacundo.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Facundo Grasso</strong></p>
                            <p class="card-text lead">Pasea Historia</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/fabrimanuel.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Manuel Fabri</strong></p>
                            <p class="card-text lead">Desafío Matemático</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/criadojuan.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Juan Cruz Criado</strong></p>
                            <p class="card-text lead">Educación Vial</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/ramosmaximiliano.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Maximiliano Ramos</strong></p>
                            <p class="card-text lead">Palabrando</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/zaffaronimatias.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Matias Zaffaroni</strong></p>
                            <p class="card-text lead">EduWorldTriv</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/bidartlucas.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Lucas Bidart</strong></p>
                            <p class="card-text lead">MemoTest</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/ledesmaagustin.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Agustín Ledesma</strong></p>
                            <p class="card-text lead">MateTest</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/pastornahuel.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Nahuel Pastor</strong></p>
                            <p class="card-text lead">Musicalizate</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/cerratoezequiel.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Ezequiel Cerrato</strong></p>
                            <p class="card-text lead">KanaEz</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/gautograciela.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Graciela Gauto</strong></p>
                            <p class="card-text lead">La Granja De Luli</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/castillocristian.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Cristian Castillo</strong></p>
                            <p class="card-text lead">Game Up</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/azarifranco.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Franco Azari</strong></p>
                            <p class="card-text lead">Soporte - Testing</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/sancheznestor.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Nestor Sanchez</strong></p>
                            <p class="card-text lead">GeoQuiz</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="./img/history-board/pipolofranco.jpg" style="display: block; width: 100%;">
                        <div class="card-body text-center">
                            <p class="card-text"><strong>Franco Pipolo</strong></p>
                            <p class="card-text lead">Soporte</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<% include ./partials/footer %>