<% include ./partials/header %>

<div class="container text-center error">
    <h1 class="display-4 mt-3">Ups! Te has perdido</h1>
    <img class="error-image" src="./img/error.png">
    <p class="lead mt-3">La página a la cual has intentado acceder no existe</p>
</div>

<% include ./partials/footer %>