<% include ./partials/header %>

<div class="container text-center">
    <h1 class="display-3 my-5">Ups! Te has perdido</h1>
    <img src="./img/error.png">
    <p class="lead mt-5">La página a la cual has intentado acceder no existe</p>
    <a href="/" ><button type="button" class="btn btn-link">Volver</button></a>
</div>

<div class="footer">
    <div class="container">
        <p class="float-right"><a href="/">Volver a la página principal</a></p>
        <p><a href="https://github.com/br1code">Br1code</a> - <a href="/licencias">Licencias</a></p>
    </div>
</div>

<% include ./partials/footer %>