<% include ./partials/header %>

<div class="container fluid text-center" id="home">
    <div class="jumbotron"> <!-- Header -->
        <h1 class="display-3">
            PixelAula
            <span><img src="./img/game.png"></span>
        </h1>
        <p class="lead my-3">
            Es una plataforma de E-Learning totalmente libre y gratuita con juegos y 
            actividades, las cuales serán desarrolladas por alumnos de la Esc. 
            Superior Nº 49 "Cap. Gral. J.J. Urquiza".
        </p>
        <p class="lead">
            <a href="#features" class="btn btn-danger btn-lg">Conocer más</a>
        </p>
    </div>
    <h1 class="display-2 my-5" id="secciones">Elige tu nivel</h2>
    <div class="row secciones"> <!-- Sections -->
        <div class="col-lg-3 mb-5">
            <a href="/inicial">
                <img class="seccion-img" src="./img/inicial.png">
                <h2 class="display-4">Inicial</h2>
            </a>
        </div>
        <div class="col-lg-3 mb-5">
            <a href="/primario">
                <img class="seccion-img" src="./img/primario.png">
                <h2 class="display-4">Primario</h2>
            </a> 
        </div>
        <div class="col-lg-3 mb-5">
            <a href="/superior">
                <img class="seccion-img" src="./img/secundario.png">
                <h2 class="display-4">Superior</h2>
            </a>
        </div>
        <div class="col-lg-3 mb-5">
            <a href="/tecnico">
                <img class="seccion-img" src="./img/tecnico.png">
                <h2 class="display-4">Técnico</h2>
            </a>
        </div>
    </div> <!-- End Sections -->

    <!-- Features -->
    <hr class="mb-5">
    <div class="row" id="features">
        <div class="col-lg-8 my-auto">
            <h2 class="lead display-4">Mejora tus conocimientos mientras te diviertes</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla vestibulum id 
                ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4 my-3">
                <img class="feature-img" src="./img/student.png">
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-lg-8 my-auto order-lg-2">
            <h2 class="lead display-4">Realiza tests para ver cuanto sabes</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla vestibulum id 
                ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4 my-3 order-lg-1">
            <img class="feature-img" src="./img/test.png">
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-lg-8 my-auto">
            <h2 class="lead display-4">Preparate para tus examenes</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla vestibulum id 
                ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4 my-3">
                <img class="feature-img" src="./img/study.png">
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-lg-8 my-auto order-lg-2">
            <h2 class="lead display-4">Ingresa desde cualquier dispositivo</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla vestibulum id 
                ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4 my-3 order-lg-1">
            <img class="feature-img" src="./img/mobile.png">
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-lg-8 my-auto">
            <h2 class="lead display-4">Compartelo con tus compañeros</h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla vestibulum id 
                ligula porta felis euismod semper. Praesent commodo cursus magna.</p>
        </div>
        <div class="col-lg-4 my-3">
                <img class="feature-img" src="./img/share.png">
        </div>
    </div>
    <!-- End Features -->
    <hr class="my-5">
    <div class="linkWithoutStyle">
        <a href="#secciones">
            <h1 class="display-3 my-5 ">Comenzar a jugar</h2>
        </a>
    </div>

</div>

<% include ./partials/scripts %>
    <script src="./js/index.js"></script>
<% include ./partials/footer %>