<% include ./partials/header %>
<% include ./partials/nav %>

<div class="container text-center">
    <h4 class="display-4 mt-5">Los recursos utilizados para el desarrollo de este proyecto fueron bajo Licencia <b>MIT</b>. </h4>
    <small class="text-muted">
        Puedes encontrar la declaración de licencia completa 
        <a target="_blank" href="https://github.com/br1code/pixel-aula/blob/master/LICENSE">aquí</a>
    </small><br>

    <small class="text-muted">
        Puedes leer más sobre Licencia MIT en 
        <a target="_blank" href="https://es.wikipedia.org/wiki/Licencia_MIT">Wikipedia</a>
    </small>

    <!-- Comment inserted for license purposes -->
    <!-- <div class="mt-5">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> -->
</div>

<% include ./partials/footer %>