<% include ./partials/header %>
<% include ./partials/nav %>

<div class="container text-center">
    <h2 class="display-4 my-5">
        Aquí estarán las licencias de los recursos utilizados para el desarrollo de este proyecto
    </h2>
</div>

<% include ./partials/footer %>