<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-5 mt-5">Prácticas Profesionalizantes</h1>
    <p>En esta sección se podrán registrar o leer practicas profesionalizantes</p>
</div>

<% include ../../partials/footer %>