<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-5 mt-3">Prácticas Profesionalizantes</h1>
    <p class="lead">Explicación de qué es una práctica profesionalizante</p>
    <h3 class="display-5 my-3">¿Qué estás buscando?</h3>

    <div class="row">

        <div class="col-lg-6">
            <div class="jumbotron py-3 mb-3 shadow">
                <div class="container">
                    <h3 class="display-5">Somos una entidad</h3>
                    <p class="lead">Buscamos alumnos que quieran realizar actividades como práctica profesionalizante.</p>
                    <a class="btn btn-secondary btn-sm shadow" href="/practicas-profesionalizantes/pedidos">Ingresar</a>
                </div>
            </div>
        </div> 

        <div class="col-lg-6">
            <div class="jumbotron py-3 shadow">
                <div class="container">
                    <h3 class="display-5">Somos una escuela</h3>
                    <p class="lead">Buscamos alguna entidad que necesite alumnos para realizar una práctica profesionalizante.</p>
                    <a class="btn btn-secondary btn-sm shadow" href="/practicas-profesionalizantes/ofertas">Ingresar</a>
                </div>
            </div>
        </div>
         
    </div>
</div>

<% include ../../partials/footer %>