<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">

    <div class="jumbotron my-3">
        <h2 class="display-6">Prácticas Profesionalizantes</h2>
        <p class="lead">Foro de organización de Prácticas Profesionalizantes para alumnos de nivel Técnico Superior o Profesional</p>
        <hr class="my-4">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#explanation">
            ¿Qué es una Práctica Profesionalizante?
        </button>
    </div>

    <div class="modal fade" id="explanation" tabindex="-1" role="dialog" aria-labelledby="explanationTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="explanationTitle">¿Qué es una Práctica Profesionalizante?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9 my-3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZiZ_yWXPHlI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
            </div>
        </div>
    </div>

    <a href="/practicas-profesionalizantes/pedidos" class="btn btn-primary m-3">Pedidos de Prácticas Profesionalizantes</a>
    <a href="/practicas-profesionalizantes/ofertas" class="btn btn-primary m-3">Ofertas de Prácticas Profesionalizantes</a>

</div>

<% include ../../partials/footer %>
<script src="/js/practicas-profesionalizantes/indexPractice.js"></script>