<% include ../../partials/header %>

<div class="container text-center">
    <h1 class="display-5 mt-5">Prácticas Profesionalizantes</h1>
    <p>En esta sección se podrán registrar o leer practicas profesionalizantes</p>
</div>

<div class="footer">
    <div class="container">
        <p class="float-right"><a href="/">Volver al principio</a></p>
        <p><a href="https://github.com/br1code">Br1code</a> - <a href="/licencias">Licencias</a></p>
    </div>
</div>

<% include ../../partials/footer %>