<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-5 mt-5">Prácticas Profesionalizantes - Ofertas</h1>
    <p>Todavía no han realizado ninguna oferta de Práctica Profesionalizante</p>
    <a href="/practicas-profesionalizantes/ofertas/nuevo">Crear una oferta de Práctica Profesionalizante</a>
</div>

<% include ../../partials/footer %>