<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-5 mt-5">Prácticas Profesionalizantes - Pedidos</h1>
    <a class="my-3" href="/practicas-profesionalizantes/pedidos/nuevo">Crear un Pedido de Práctica Profesionalizante</a>
    <p class="my-3">Todavía no han realizado ningun pedido de Práctica Profesionalizante</p>
</div>

<% include ../../partials/footer %>