<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-5 mt-5">El pedido de Práctica Profesionalizante se ha registrado con éxito!</h1>
    <a href="/practicas-profesionalizantes/pedidos/<%= requestID %>">
        Ir a la Práctica Profesionalizante
    </a>
</div>

<% include ../../partials/footer %>