<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-5 mt-5">Prácticas Profesionalizantes - Pedidos</h1>
    <p>Aquí estarán todos los pedidos de prácticas profesionalizantes</p>
</div>

<% include ../../partials/footer %>