<% include ../../partials/header %>

<div class="container text-center">
    <h1 class="display-4 mt-5">Terciario y universitario</h1>
    <p>En esta sección irá todo el contenido del nivel terciario y universitario, además del foro.</p>
    <a href="/foro" class="btn btn-danger">Ingresar al foro</a>
</div>

<div class="footer">
    <div class="container">
        <p class="float-right"><a href="/">Volver al principio</a></p>
        <p><a href="https://github.com/br1code">Br1code</a> - <a href="/licencias">Licencias</a></p>
    </div>
</div>

<% include ../../partials/footer %>