<% include ../../partials/header %>

<div class="container text-center">
    <h1 class="display-1">Terciario y universitario</h1>
    <p>En esta secci칩n ir치 todo el contenido del nivel terciario y universitario, adem치s del foro.</p>
    <a href="/foro" class="btn btn-danger">Foro!</a>
</div>

<div class="footer">
    <div class="container">
        <p class="float-right"><a href="/">Volver a la p치gina principal</a></p>
        <p>2018 Br1code - Escuela Urquiza &middot; <a href="/licencias">Licencias</a></p>
    </div>
</div>

<% include ../../partials/footer %>