<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container">
    <h1 class="display-3 text-center mt-3">Inicial y Primario</h1>
    <p class="text-center">Juegos y actividades</p>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mb-5">
                <img src="./img/game-autito.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Choque Los 5!!!</h5>
                    <p class="card-text">
                        Un juego de cuentas matemáticas con autos!Sumando, sumando para llegar a la ciudad. 
                        Para llegar a destino hay q hacer la cuenta tomando el número correcto. “¿2+3?” “¡¡¡5!!!¡¡¡¡Choque los 5!”
                    </p>
                    <a href="https://pixelaula-html-repository.herokuapp.com/autito/index.html" target="_blank" class="btn btn-danger">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mb-5">
                <img src="./img/game-onionsucesiones.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Onion</h5>
                    <p class="card-text">
                        Onion es un juego que ayuda a los niños a trabajar las sucesiones numericas desde el 1 hasta el 10, el objetivo del 
                        juego es conseguir juntar las 10 estrellas en orden ascendente para lo cual se presentan algunas dificultades, 
                        con el objetivo de sumarle diversion al desafio.
                    </p>
                    <a href="https://pixelaula-html-repository.herokuapp.com/onion-sucesiones/index.html" target="_blank" class="btn btn-danger">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mb-5">
                <img src="./img/game-señamemo.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">SeñaMemo</h5>
                    <p class="card-text">
                        Este juego es el típico "MemoTest" o "Juego de la memoria.
                        La idea principal fue aprender algunos gestos básicos del lenguaje de señas. Aprenderemos las letras, números, días de semanas y meses.
                    </p>
                    <a href="https://pixelaula-html-repository.herokuapp.com/senamemo/index.html" target="_blank" class="btn btn-danger">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mb-5">
                <img src="./img/game-palabrando.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Palabrando</h5>
                    <p class="card-text">
                        Palabrando es un simple juego de Lengua, donde el jugador deberá acomodar las letras del nombre de un animal en una zona, dependiendo de ciertas reglas lingüísticas.
                        Orientado a niños de primaria, de los primeros grados.
                    </p>
                    <a href="https://pixelaula-html-repository.herokuapp.com/palabrando/index.html" target="_blank" class="btn btn-danger">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card text-center mb-5">
                <img src="./img/game-eduworldtriv.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">EduWorldTriv</h5>
                    <p class="card-text">
                        EduWorldTriv es un trivia en cual consiste en a travez de distintas imagenes que te seran mostradas seleccionar entre cuatro respuestas la correcta para dicha imagen.
                        El juego esta hecho con el fin de mostrarles y enseñarles a los jovenes un poco mas del mundo en el que el ser humano vive con las
                        distintas culturas, monumentos historicos y paises que surgieron y hasta hoy en dia siguen estando presentes.
                        ¿Seras capaz de reconocer a que pais pertenece cada imagen? ¡Buena suerte viajero/a!
                    </p>
                    <a href="https://pixelaula-html-repository.herokuapp.com/eduworldtriv/index.html" target="_blank" class="btn btn-danger">Jugar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    

</div>

<% include ../../partials/footer %>