<% include ../../partials/header %>
<% include ../../partials/nav %>

<div class="container text-center">
    <h1 class="display-3 mt-5">Inicial y primario</h1>
    <p>En esta sección irá todo el contenido del nivel inicial y primario</p>
</div>

<% include ../../partials/footer %>